<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>About Page</title>



      <link rel="stylesheet" href="../css/main.css">


</head>

<body>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag (sidebar + navbar)---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Needed for Dropdown in Navbar -->

<body>
<!--  Begin Navbar  -->
      <div id="navbar-wrapper">
         <!-- Rendering partials -->
         <% include partials/headerPlusSidebar.ejs%>
      </div>
      <div id="link-wrapper">
         <% include partials/navbar.ejs%>
      </div>
      <!--  End Navbar  -->

<!-- Begin Main Section -->
    <section class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <div class="ratio img-responsive img-circle" style="background-image: url(../img/david.jpg);">
              </div>
            </div>
          </div>
          <div class="top-about">
            <h3>David Adams - Documenter / Backend</h3>
          </div>
          <div class="mid-about">
            <h2>Interests</h2>
            <ul>
              <li>Dogs</li>
              <li>Games</li>
              <li>Sports</li>
              <li>Knitting</li>
              <li>Eating</li>
              <li>Sleeping</li>
              <li>Talking</li>
              <li>Listing</li>
          </ul>
        </div>
        <div class="bottom-about">
          <h2>Background</h2>
          <p>Hi! I'm David Adams. I am a computer science student at San Francisco State University. I am from Vacaville, CA. I am interested in all things science. I enjoy reading science fiction, games, and daydreaming about the future.</p>
        </div>
      </div>
<!-- End Main Section -->




<!-- Begin Copyright Section -->
  <div class="row">
    <div class="col-md-12 text-center">
      <br/><br/><br/>
        <hr/>
        <p>Team 12 CSC 648-848 Section 2</p>
    </div>
  </div>
<!-- End Copyright Section -->
</section>


</body>



</body>

</html>
