<!-- Sidebar -->
<div id="wrapper">
<!--  Begin Sidebar Wrapper  -->
<div id="sidebar-wrapper">
	<aside id="sidebar">
		<ul id="sidemenu" class="sidebar-nav">
			<li>
				<a href="/">
				<img src="/img/GatorHousingLogo.png" class="img-responsive img-thumbnail img">
				</a>
			</li>
			<div id="filter-wrapper">
				<li>
					<span class="sidebar-title">Sort by:</span>
					<div class="input-group">
						<div class="input-group-btn">
							<select class="form-control" name="sortType">
								<option value="ASC"<%if(sortType == "ASC"){%> selected <%}%>> Sort by Price: Low to high </option>
								<option value="DESC"<%if(sortType == "DESC"){%> selected <%}%>> Sort by Price: High to low </option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<span class="sidebar-title">Filters:</span>
					<div class="input-group">
						<div class="input-group-btn">
							<select class="form-control" name="priceFilter">
								<option value=""<%if(priceFilter == ""){%> selected <%}%>> Price filter: None </option>
								<option value="500"<%if(priceFilter == "500"){%> selected <%}%>> Under $500 </option>
								<option value="750"<%if(priceFilter == "750"){%> selected <%}%>> Under $750 </option>
								<option value="1000"<%if(priceFilter == "1000"){%> selected <%}%>> Under $1000 </option>
								<option value="1250"<%if(priceFilter == "1250"){%> selected <%}%>> Under $1250 </option>
								<option value="1500"<%if(priceFilter == "1500"){%> selected <%}%>> Under $1500 </option>
								<option value="1750"<%if(priceFilter == "1750"){%> selected <%}%>> Under $1750 </option>
								<option value="2000"<%if(priceFilter == "2000"){%> selected <%}%>> Under $2000 </option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<br>
					<div class="input-group">
						<div class="input-group-btn">
							<select class="form-control" name="bedFilter">
								<option value="1"<%if(bedFilter == "1"){%> selected <%}%>> 1+ bedrooms </option>
								<option value="2"<%if(bedFilter == "2"){%> selected <%}%>> 2+ bedrooms </option>
								<option value="3"<%if(bedFilter == "3"){%> selected <%}%>> 3+ bedrooms </option>
							</select>
						</div>
					</div>
				</li>
				<li>
					<br>
					<div class="input-group">
						<div class="input-group-btn">
							<select class="form-control" name="bathFilter">
								<option value="1"<%if(bathFilter == "1"){%> selected <%}%>> 1+ bathrooms </option>
								<option value="2"<%if(bathFilter == "2"){%> selected <%}%>> 2+ bathrooms </option>
							</select>
						</div>
					</div>
				</li>
        
			</div>
      <div class ="row">
					<div class="col-lg-6" style="margin-top: 15px;margin-left: 118px;">
        <button type="submit" class="btn btn-primary"> Apply Filter </button>
      </div>
      </div>
		</ul>
	</aside>
</div>
<!--   End Sidebar Wrapper   -->