@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

body {
    background: lightgray;
}

.purplink {
  color: #231161 !important; 
}


.navbar-default .navbar-collapse{
  border-color: none;
}

.row.centered{
  padding: 12px;
  border-top: 1px solid #0000007a;
  border-bottom: 1px solid #0000007a;
  text-align: center;
}

.dividerF{
  width: 100%;
  border-top: 2px solid black;
  padding-bottom: 20px;
}

.pricecard {
  text-align: center;
  font-size: 16px;
}

.purplink:hover {
  color: #004F71 !important;
}

#search{
  display:block;
  text-align:center;
  width:100%;
  background: white;
}



.form-horizontal {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-horizontal .control-label {
    padding-top: 7px;
    text-align: center !important;
    width: 100%;
    text-align: -webkit-center !important;
    margin-bottom: 10px !important;
    min-width: 400px;
}

.forgotpass {
  float: left;
}

.reghere {
  float: right;
}

.btn-login {
    color: #fff !important;
    background-color: #231161 !important;
  border-color: #463077 !important;
    width: 100%;
      box-shadow: inset 0px 0px 0px 3px #463077;

}
.btn-login:hover {
    color: #fff !important;
    background-color: #004F71 !important;
  border-color: #463077 !important;
          box-shadow: inset 0px 0px 0px 0px #463077;


}

.btn-info {
  background-color: #231161 !important;
  border-color: #463077 !important;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    height: 51px;
    margin-left: 0;
    
  margin-bottom: 0;
}

.navbar-collapse {
      
}

.link-row {
    height: 52px;
    margin-right: 225px;
    margin-top: 13px;
    border-bottom: none;
}

.nav-pills>li>a {
    border-radius: 0px !important;
    border-left: 1px solid;
}

.input-group {
  float: left;
}

.navbar-default .navbar-nav #user-profile {
    height: 34px;
    padding-top: 0;
    padding-left: 0;
    background: transparent;
    margin-top: 6px;
    color: black;
}

.nav-pills>li+li {
	    background-color: #231161 !important;
    border-left: 2px solid white;
    box-shadow: inset 0px 0px 0px 3px #463077;
}

.nav>li>a:hover, .nav>li>a:focus {
    /* background-color: #231161 !important; */
    /* border-left: 2px solid white; */
    /* box-shadow: inset 0px 0px 0px 3px #463077; */
}

.dropdown-toggle {
	/* color: white !important; */
}

.nav-pills>li.active>a {
    background-color: #231161 !important;
    border-left: 2px solid white;
    box-shadow: inset 0px 0px 0px 3px #463077;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: -5px;
    left: 8px;
    padding: 1px;
}

.nav-bar-nav {
	height: 35px;
}

.wrapper {
	padding-left: 0;
padding-top: 116px;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
   
	width: 100%;

}


#wrapper {
    padding-top: 0px;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
   
	width: 100%;
}

#filter-wrapper {
      margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .wrapper {
       padding-left: 225px;
    }
}

@media (min-width: 768px){
.navbar-fixed-top {
    margin-left: 225px !important;
}
.navbar-brand{
  display: none;
}
.row.mobile{
  display: none;
}
}
@media (max-width: 767px){
.navbar-fixed-top {
    height: 50px;
  }

  .nav.navbar-nav.navbar-right{
    display: none;
  }
  
  
  #link-wrapper {
    display: none;
  }
  #wrapper {
    padding-top: 50px;
  }
  

}



@media (min-width: 768px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
      left: 225px;
    }
}

@media (min-width: 768px)
.navbar {
    margin-left: 225px;
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}




#link-wrapper {
        position: fixed;
        width: 100%;
        height: 66px;
        margin-top: 50px;
        background-color: #ffffff;
        z-index: 3;
        border-bottom: 1px solid #cacaca;
        margin-left: 225px;
}
#sidebar-wrapper {
    z-index: 11000;
    position: fixed;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    top: 0;
}

#sidebar-wrapper .sidebar-nav {
    position: fixed;
    top: 0;
    width: 225px;
    font-size: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  border-right: 1px solid #dedede !important;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 50px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
    text-align: center;
    text-align: -webkit-center;
}

.sidebar-nav li:first-child a {
    background: #f8f8f8 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (min-width: 768px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #f8f8f8 !important;
    color: #000 !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #e3e4e4 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #428bca !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #3071a9 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #245682 !important;
    color: #fff !important;
}

.welcome .content {
  background-color: #ddd;
  padding: 15px;
  margin-top: 25px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.welcome h2 {
  font-family: Calibri;
  font-weight: 100;
  margin-top: 0
}

/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #333;
}
.statistics .box {
  background-color: #ddd;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-top: 25px;
}
.statistics .box > i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {color:#333;}

/* End statistics */

/* Begin Card */
.card {
  display: block; 
  margin-bottom: 25px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.15em;
  text-decoration: underline;
  text-align: center;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid rgb(71, 71, 71);
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
/* End Card */

/* Start House Cards */
.house {
  margin-top: 25px;
  color: #333;
}
.house .house-container {
  background-color: #ddd;
  grid-row-gap: 15px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.house .house-container h3 {
  margin: 0 0 10px;
  font-size: 17px;
}
/**************** carousel ****************/
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
		
		
		
		.top-about {
  background-color: #eee;
  text-align: center;
  min-height: 75px;
}

.top-about h3 {
  font-size: 75px;
}

.mid-about {
  background-color: #eee;
  min-height: 200px;
}
.mid-about, .bottom-about h2 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
.mid-about ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-size: 15px;
  text-align: left;
}

.bottom-about {
  background-color: #eee;
  min-height: 200px;
  padding: 0px 20px 20px 20px;
}

.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
  border-radius: 50%;
  max-width: 50px;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
