<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  
  
  
      <link rel="stylesheet" href="css/main.css">
            <link rel="stylesheet" href="/css/main.css">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!------ Include the above in your HEAD tag (sidebar + navbar + carousel)---------->

  
</head>


<body>

<!--  Begin Navbar  -->
      <div id="navbar-wrapper">
         <!-- Rendering partials -->
         <% include partials/headerPlusSidebar.ejs%>
      </div>
      <div id="link-wrapper">
         <% include partials/navbar.ejs%>
      </div>
      <!--  End Navbar  -->
    
<!--   Begin Welcome to Dashboard   -->
    <section class="wrapper"> 
      
        <div class="container-fluid">
        
          <h1 class="well">Login</h1>
          <%- messages('messages', locals) %>
              <form class="form-horizontal" method='POST'>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">E-Mail</label>
                  <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="E-Mail" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-12">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm col-sm-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm col-sm-12">
                      <div class="forgotpass">
                        <a class="purplink" href="#">Forgot Your Password?</a>
                      </div>
                      <div class="reghere">
                        <a class="purplink" href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/registration">Register Here!</a>
                      </div>
                  </div>
                </div>  
                <div class="form-group">
                  <div class="col-sm-centered col-sm-12">
                    <button type="submit" onClick="this.form.submit()" class="btn btn-login">Login</button>
                  </div>
                </div>
              </form>
          
        </div>

      
    


  
<!-- Begin Copyright Section -->
  <div class="row">
    <div class="col-md-12 text-center">
      <br/><br/><br/>
        <hr/>
        <p>Team 12 CSC 648-848 Section 2</p>
    </div>
  </div>
<!-- End Copyright Section -->
</section>
</body>


</html>
