<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Search Results Page</title>
  
  
  
      <link rel="stylesheet" href="css/main.css">

  
</head>

<body>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag (sidebar + navbar)---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag (carousel) ---------->
<body>
  
<!--  Begin Navbar  -->
  <div id="navbar-wrapper">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <form class="navbar-form navbar" id="search" role="search" action="/results">
              <div class="input-group">
                <div class="input-group-btn">
        <select class="form-control" name="category">
			<option value=""<%if(searchCategory == ""){%> selected <%}%>> All Categories </option>
       		<option value="apartment"<%if(searchCategory == "apartment"){%> selected <%}%>> Apartment </option>
			<option value="house"<%if(searchCategory == "house"){%> selected <%}%>> House </option>
        	<option value="room"<%if(searchCategory == "room"){%> selected <%}%>> Room </option>
    </select>
      </div><!-- /btn-group -->
                <input id="search" name="search" value="<%=searchTerm%>" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default" onClick="this.form.submit()" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                </span>
				
              </div>
              <ul class="nav navbar-nav navbar-right">
              
              <li class="dropdown">
                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                <ul class="dropdown-menu dropdown-block" role="menu">
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/userdash">Profile</a></li>
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/admin">Admin</a></li>
                  <li><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <div id="link-wrapper">
    <div class="container-fluid">
      <div class="link-row">
    
        
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000">Home</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/about">About</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/post">Post</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/login">Login</a></li>
          <li role="presentation" class="active"><a href="http://ec2-54-153-63-128.us-west-1.compute.amazonaws.com:3000/registration">Register</a></li>
        </ul>
        
        
      </div>
    </div>
  </div>
<!--  End Navbar  -->


  <div id="wrapper">
    <!--  Begin Sidebar Wrapper  -->
   <div id="sidebar-wrapper">
      <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
          <li>
            <a href="#">
              
              <span class="sidebar-title">Gator Housing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="https://i.imgur.com/UGvI4zF.jpg" class="img-responsive img-thumbnail img">
              
              
            </a>
          </li>
          
          <div id="filter-wrapper">
          
            <li>
              <span class="sidebar-title">Sort by:</span>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control" id="filtertype">
                      <option value="All">Price: Lowest First</option>
                      <option value="House">House</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Room">Room</option>
                    </select>
                  </div>
              </div>
            </li>


            <li>  
              <span class="sidebar-title">Filters:</span>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control" id="pricetype">
                      <option value="All">Any Price</option>
                      <option value="House">House</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Room">Room</option>
                    </select>
                  </div>
              </div>
            </li>

            <li>  
              <br>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control" id="pricetype">
                      <option value="All">0+ Bedrooms</option>
                      <option value="House">House</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Room">Room</option>
                    </select>
                  </div>
              </div>
            </li>

            <li>  
              <br>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control" id="pricetype">
                      <option value="All">0+ Bath</option>
                      <option value="House">House</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Room">Room</option>
                    </select>
                  </div>
              </div>
            </li>

            <li>  
              <br>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="form-control" id="pricetype">
                      <option value="All">Distance</option>
                      <option value="House">House</option>
                      <option value="Apartment">Apartment</option>
                      <option value="Room">Room</option>
                    </select>
                  </div>
              </div>
            </li>
          </div>
         
        </ul>
      </aside>
    </div>
<!--   End Sidebar Wrapper   -->
    <section class="wrapper">
   
      <div class="container-fluid">
        <h1 class="well">Search Results</h1>
        <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://losangelesgeneralcontractor.com/wp-content/uploads/2017/12/building-a-house-in-los-angeles.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Inquire
                                </a>
                            </div>
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://cdn.vox-cdn.com/thumbor/0__zWQZmmmwHA5OjBTAchz6_sBw=/0x0:3000x2000/1200x800/filters:focal(1260x760:1740x1240)/cdn.vox-cdn.com/uploads/chorus_image/image/62922957/4854_Alonzo_Ave__Encino_FInals_34.0.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg?w=1000&h=563&crop=1" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
      <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://uploads.pl-internal.com/ZWZhZmI2MWUtN2ZhNS00ZDBmLThlNTQtMTFiZjk0MmIzYjFh/content/2018/04/12IHH-BELGIUM-EDIT-slide-C9IO-videoSixteenByNineJumbo1600.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Inquire
                                </a>
                            </div>
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://peopledotcom.files.wordpress.com/2018/10/disney-house-overview-front-yard.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
      <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://losangelesgeneralcontractor.com/wp-content/uploads/2017/12/building-a-house-in-los-angeles.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Inquire
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://cdn.vox-cdn.com/thumbor/0__zWQZmmmwHA5OjBTAchz6_sBw=/0x0:3000x2000/1200x800/filters:focal(1260x760:1740x1240)/cdn.vox-cdn.com/uploads/chorus_image/image/62922957/4854_Alonzo_Ave__Encino_FInals_34.0.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg?w=1000&h=563&crop=1" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
      <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://uploads.pl-internal.com/ZWZhZmI2MWUtN2ZhNS00ZDBmLThlNTQtMTFiZjk0MmIzYjFh/content/2018/04/12IHH-BELGIUM-EDIT-slide-C9IO-videoSixteenByNineJumbo1600.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Inquire
                                </a>
                            </div>
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://peopledotcom.files.wordpress.com/2018/10/disney-house-overview-front-yard.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://images.adsttc.com/media/images/59a4/c624/b22e/389d/3e00/02a3/newsletter/MHA.JR_201708_038.jpg?1503970808" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">A Beautiful Home
                                  </a>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quibusdam tenetur id aspernatur, repellendus natus.</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
        <div class="row">
          <div class="col-md-12 text-center">
            <br/><br/><br/>
            <hr/>
            <p>Copyright</p>

          </div>
        </div>
      </div>

    </main>
  </div>
</body>
  
  

</body>

</html>
